# Virtual env
venv/
ENV/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Django
# Local SQLite DB should not be tracked; keep it local
db.sqlite3
*.sqlite3
/local_settings.py
/.env

.env

# Editor / OS
.vscode/
.idea/
Thumbs.db
.DS_Store
